.status-left_inner {
    background-repeat: no-repeat;
    gap: 16px;
}

.checkbox-input {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    border: 10px dashed;
}

.status-right_button {
    text-decoration: none;
    padding: 12px 24px;
    color: #000;
    background-color: #fff;
}


.status-right_button1 {
    background-color: #000;
    text-decoration: none;
    padding: 12px 24px;
    color: #fff;
}

.status-div {
    display: flex;
}

.status-right {
    margin-left: 500px;
}